# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
# go.work
# go.work.sum

# env file
.env

go_pro_pl*

# mac 文件 是macOS系统特有的文件，通常用于存储文件夹的自定义属性，如窗口位置、图标大小或背景颜色等。
.DS_Store